body {
    font-family: Arial, sans-serif;
    margin: 20px 20px 20px 220px;
    /* Adjusted margin to make space for the nav */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
    /* Increased margin-bottom */
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

h2 {
    margin-top: 60px;
    /* Increased margin-top */
}

#darkModeToggle {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
}

nav {
    position: fixed;
    left: 10px;
    top: 50px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    /* Adjusted width */
    cursor: move;
    /* Change cursor to move */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007acc;
}

.transition {
    transition: background-color 0.5s, color 0.5s;
}